@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans');
/*@back: #FFF;
@fore: #2E112D;
@interact: #F0433A;
@accent: #540032;
@note: #820333;
@warn: #C9283E;
@yellow: #FFD502;*/
html,
body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #2C3E50;
  background: #FFF;
}
html {
  min-height: 100%;
}
body {
  position: relative;
  height: 100%;
}
input {
  border: 2px solid #6DBCDB;
  border-radius: 4px;
  color: #FC4349;
  background: #6DBCDB;
}
h1 {
  font-size: x-large;
  font-family: 'Open Sans', sans-serif;
}
h2,
h3 {
  font-size: larger;
  font-family: 'Roboto', sans-serif;
}
h4,
h5 {
  font-size: large;
  font-family: 'Roboto', sans-serif;
}
#main_content {
  font-family: 'Roboto', sans-serif;
  clear: both;
  padding: 0;
  position: relative;
  margin: 0px auto;
}
#main_content .SplitSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#main_content .SplitSection section {
  margin-left: 25px;
  max-width: 1400px;
  width: 80%;
  min-width: 320px;
}
#main_content .SplitSection aside {
  margin-right: 25px;
  min-height: 200px;
  max-width: 400px !important;
  width: 40%;
  min-width: 300px;
  color: #6DBCDB;
}
#main_content .CartHeader {
  background: #6DBCDB;
  color: #FFF;
  padding: 20px 0 20px 0;
  margin: auto;
}
#main_content .ProductList {
  text-align: left;
  margin-bottom: 10px;
  display: block;
}
#main_content .ProductList ul {
  padding: 0px;
}
#main_content .ProductList .CatalogResult {
  border-radius: 1px;
  background: #2C3E50;
  color: #FFF;
  padding: 5px;
  display: inline-block;
  width: 300px;
  margin: 5px;
}
#main_content .ProductList .CatalogResult * {
  margin: 0;
  text-align: center;
}
#main_content .ProductList .CatalogResult .ProductImage {
  height: 150px;
}
#main_content .ProductList .CatalogResult .ProductName {
  height: 80px;
}
#main_content .ProductList .CatalogResult .ProductName h3 {
  font-size: xx-large;
}
#main_content .ProductList .CatalogResult .ProductDescription {
  height: 100px;
}
#main_content .ProductList .CatalogResult .ProductPrice {
  height: 50px;
  margin: 0;
  font-size: 0;
}
#main_content .ActiveBtn,
#main_content .InactiveBtn {
  width: 120px;
  padding: 10px 0 10px 0;
  display: inline-block;
  margin: 0;
  font-size: medium;
}
#main_content .ActiveBtn {
  border-radius: 0 6px 6px 0;
  background: #6DBCDB;
  color: #2C3E50;
  border: 2px solid #6DBCDB;
  border-left: none;
}
#main_content .InactiveBtn {
  border: 2px solid #6DBCDB;
  border-right: none;
  border-radius: 6px 0 0 6px;
}
#main_content .AdminSearch {
  background: #D7DADB;
  border-radius: 8px;
  width: 300px;
  margin: auto;
  margin-bottom: 50px;
}
#main_content .Result {
  display: block;
  margin: auto;
  width: 200px;
  margin-bottom: 2px;
  padding: 20px;
  background: #6DBCDB;
  text-align: center;
}
#main_content a {
  color: #FC4349;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
#main_content .Errors {
  color: #FFD502;
}
#main_content .CenterContent {
  margin: auto;
  text-align: center;
}
#main_content .CenterContent .Container {
  margin: auto;
}
#main_content .ToolBar {
  margin: auto;
  margin-top: 50px;
  border: 2px solid #6DBCDB;
  padding: 10px;
  background: #D7DADB;
  border-radius: 4px;
  width: 50%;
  height: 50px;
  vertical-align: middle;
}
#main_content .ToolBar a {
  margin: 10px;
}
#main_content .CartContent {
  list-style: none;
  min-width: 250px;
  margin: auto;
  text-align: center;
  display: block;
  clear: both;
  padding: 0;
}
#main_content .CartContent .CartItem {
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: #cccccc;
  border-radius: 5px 0 0 5px;
  color: #6DBCDB;
  height: 200px;
  max-width: 500px;
  width: 90%;
  min-width: 200px;
}
#main_content .CartContent .CartItem .Container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  text-align: center;
  width: 50%;
  height: 100%;
  background: #2C3E50;
  color: #FFF;
  padding: 0;
}
#main_content .CartContent .CartItem .CartImage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  width: 50%;
  max-width: 200px;
  text-align: center;
}
#main_content .CartContent .CartItem .CartImage img {
  position: relative;
}
.BusinessReport {
  width: 100%;
  position: relative;
  padding: 20px 2px;
}
.BusinessReport .ReportTable {
  width: 80%;
  margin: auto;
  min-width: 500px;
  border-spacing: 0;
}
.BusinessReport .ReportTable tr.ReportEven th.ReportHeader,
.BusinessReport .ReportTable tr.ReportOdd th.ReportHeader {
  background: #D7DADB;
  color: #6DBCDB;
}
.BusinessReport .ReportTable tr.ReportEven td.ReportCell,
.BusinessReport .ReportTable tr.ReportOdd td.ReportCell {
  border-top: solid 2px #D7DADB;
  width: 100px;
  height: 40px;
}
.BusinessReport .ReportTable tr.ReportEven td.ReportCell a,
.BusinessReport .ReportTable tr.ReportOdd td.ReportCell a {
  color: #FC4349;
}
.BusinessReport .ReportTable tr.ReportEven {
  color: #417e8b;
  background: #FFF;
}
.BusinessReport .ReportTable tr.ReportOdd {
  color: #2C3E50;
  background: #6DBCDB;
}
.ProductForm {
  margin: 25px;
}
.FormContainer {
  border-radius: 9px;
  margin: auto;
  margin-top: 20px;
  width: 400px;
  background: #D7DADB;
  padding: 10px;
  padding-top: 25px;
}
.FormContainer .SubForm {
  margin: auto;
  margin-top: 10px;
}
.FormContainer input {
  background: #6DBCDB;
  color: #FC4349;
  border: 2px solid #6DBCDB;
  border-radius: 6px;
  padding: 4px;
  margin: 5px;
}
.FormContainer .Button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
}
.PostForm {
  margin-top: 15px;
}
#landing {
  height: 100%;
  text-align: center;
}
#landing .LandingContainer {
  padding-top: 25%;
}
#landing .LandingContainer a {
  margin: 100px;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-decoration: none;
}
#main_nav {
  width: 100%;
  position: relative;
  background: #D7DADB;
  height: 75px;
}
#main_nav #home_button {
  position: relative;
  float: left;
  background: #FFF;
  width: 50px;
  height: 50px;
  margin: 10px;
}
#main_nav a {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 24px;
  float: left;
  color: #FC4349;
}
#main_nav #main_links {
  display: inline;
  height: 100%;
  vertical-align: middle;
}
#main_nav #main_links a {
  margin: 10px;
  font-size: 24px;
  float: left;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
#main_nav #main_links .LeftNav {
  float: left;
}
#main_nav #main_links .RightNav {
  float: right;
  display: inline;
  vertical-align: middle;
}
#main_nav #main_links .RightNav .Container {
  width: 500px;
}
.ProductView {
  text-align: center;
}
.ProductView .TitleName {
  margin: auto;
}
.ProductView .ProductView {
  max-width: 800px;
  width: 60%;
  min-width: 300px;
}
#Tool {
  background-color: #D7DADB;
  border: 2px solid #6DBCDB;
  border-radius: 4px;
  padding: 10px;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.CheckoutStep {
  display: inline;
  position: relative;
  margin: 50px 25px;
}
#search {
  padding-top: 25px;
}
.Container {
  margin: auto;
  padding: 2px;
}
footer {
  position: relative;
  color: #cccccc;
  text-align: center;
}
.Small {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
