@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans');

/*@back: #FFF;
@fore: #2E112D;
@interact: #F0433A;
@accent: #540032;
@note: #820333;
@warn: #C9283E;
@yellow: #FFD502;*/
@back: #FFF;
@fore: #2C3E50;
@interact: #FC4349;
@accent: #6DBCDB;
@note: #D7DADB;
@yellow: #FFD502;
@warn: @yellow;

@sans: 'Roboto', sans-serif;
@serif: 'Open Sans', sans-serif;
@inputBorder: 2px solid @accent;
@resultHeight: 100px;

html, body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: @sans;
  color: @fore;
  background: @back;
}

html {
  min-height: 100%;
}

body {
  position: relative;
  height: 100%;
}

input {
  border: @inputBorder;
  border-radius: 4px;
  color: @interact;
  background: @accent;
}

h1 {
  font-size: x-large;
  font-family: @serif;
}

h2, h3 {
  font-size: larger;
  font-family: @sans;
}

h4, h5 {
  font-size: large;
  font-family: @sans;
}

#main_content {
  font-family: @sans;
  clear: both;
  padding: 0;
  position: relative;
  // min-height: 100%;
  margin: 0px auto;
  .SplitSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    section {
      margin-left: 25px;
      max-width: 1400px;
      width: 80%;
      min-width: 320px;
    }
    aside {
      margin-right: 25px;
      min-height: 200px;
      max-width: 400px !important;
      width: 40%;
      min-width: 300px;
      color: @accent;
    }
  }
  .CartHeader {
    background: @accent;
    color: @back;
    padding: 20px 0 20px 0;
    margin: auto;
  }
  .ProductList {
    text-align: left;
    margin-bottom: 10px;
    display: block;
    ul {
      padding: 0px;
    }
    .CatalogResult {
      border-radius: 1px;
      background: @fore;
      color: @back;
      padding: 5px;
      display: inline-block;
      width: 300px;
      margin: 5px;
      * {
        margin: 0;
        text-align: center;
      }
      .ProductImage {
        height: 150px;
      }
      .ProductName {
        height: 80px;
        h3 {
          font-size: xx-large;
        }
      }
      .ProductDescription {
        height: 100px;
      }
      .ProductPrice {
        height: 50px;
        //border: 2px solid @accent;
        margin: 0;
        font-size: 0;
      }
    }
  }

  .ActiveBtn, .InactiveBtn {
    width: 120px;
    padding: 10px 0 10px 0;
    display: inline-block;
    margin: 0;
    font-size: medium;
  }
  .ActiveBtn {
    border-radius: 0 6px 6px 0;
    background: @accent;
    color: @fore;
    border: 2px solid @accent;
    border-left: none;
  }
  .InactiveBtn {
    border: 2px solid @accent;
    border-right: none;
    border-radius: 6px 0 0 6px;
  }

  .AdminSearch {
    background: @note;
    border-radius: 8px;
    width: 300px;
    margin: auto;
    margin-bottom: 50px;
  }

  .Result {
    display: block;
    margin: auto;
    width: 200px;
    margin-bottom: 2px;
    padding: 20px;
    background: @accent;
    text-align: center;
  }

  a {
    color: @interact;
    font-family: @sans;
    text-decoration: none;
  }

  .Errors {
    color: @warn;
  }

  .CenterContent {
    margin: auto;
    text-align: center;
    .Container {
      margin: auto;
    }
  }

  .ToolBar {
    margin: auto;
    margin-top: 50px;
    border: 2px solid @accent;
    padding: 10px;
    background: @note;
    border-radius: 4px;
    width: 50%;
    height: 50px;
    vertical-align: middle;
    a {
      margin: 10px;
    }
  }

  .CartContent {
    list-style: none;
    min-width: 250px;
    margin: auto;
    text-align: center;
    display: block;
    clear: both;
    padding: 0;
    .CartItem {
      margin: 10px auto;
      display: flex;
      justify-content: space-between;
      align-content: center;
      background: @back - #333;
      border-radius: 5px 0 0 5px;
      color: @accent;
      height: 200px;
      max-width: 500px;
      width: 90%;
      min-width: 200px;
      .Container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        text-align: center;
        width: 50%;
        height: 100%;
        background: @fore;
        color: @back;
        padding: 0;
      }
      .CartImage {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        width: 50%;
        max-width: 200px;
        text-align: center;
        img {
          position: relative;
        }
      }

    }
  }

}

.BusinessReport {
  width: 100%;
  position: relative;
  padding: 20px 2px;
  .ReportTable {
    width: 80%;
    margin: auto;
    min-width: 500px;
    border-spacing: 0;

    tr.ReportEven, tr.ReportOdd {
      th.ReportHeader {
        background: @note;
        color: @accent;
      }
      td.ReportCell {
        border-top: solid 2px @note;
        width: 100px;
        height: 40px;
        a {
          color: @interact;
        }
      }
    }
    tr.ReportEven {
      color: @accent - @fore;
      background: @back;
    }
    tr.ReportOdd {
      color: @fore;
      background: @accent;
    }
  }
}

.ProductForm {
  margin: 25px;
}

.FormContainer {
  border-radius: 9px;
  margin: auto;
  margin-top: 20px;
  width: 400px;
  background: @note;
  padding: 10px;
  padding-top: 25px;
  .SubForm {
    margin: auto;
    margin-top: 10px;
  }
  input {
    background: @accent;
    color: @interact;
    border: @inputBorder;
    border-radius: 6px;
    padding: 4px;
    margin: 5px;
  }
  .Button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
  }
}

.PostForm {
  margin-top: 15px;
}

#landing {
  height: 100%;
  text-align: center;
  .LandingContainer {
    padding-top: 25%;
    a {
      margin: 100px;
      font-size: 32px;
      font-family: @sans;
      font-weight: 700;
      text-decoration: none;
    }
  }
}

#main_nav {
  #home_button {
    position: relative;
    float: left;
    background: @back;
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  width: 100%;
  position: relative;
  background: @note;
  height: 75px;
  a {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 24px;
    float: left;
    color: @interact;
  }
  #main_links {
    display: inline;
    height: 100%;
    vertical-align: middle;
    a {
      margin: 10px;
      font-size: 24px;
      float: left;
      text-decoration: none;
      font-family: @sans;
    }
    .LeftNav {
      float: left;
    }
    .RightNav {
      float: right;
      display: inline;
      vertical-align: middle;
      .Container {
        width: 500px;
      }
    }
  }
}

.ProductView {
  text-align: center;
  .TitleName {
    margin: auto;
  }
  .ProductView {
    max-width: 800px;
    width: 60%;
    min-width: 300px;
  }
}

#Tool {
  background-color: @note;
  border: 2px solid @accent;
  border-radius: 4px;
  padding: 10px;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.CheckoutStep {
  display: inline;
  position: relative;
  margin: 50px 25px;
}

#search {
  padding-top: 25px;
}

.Container {
  margin: auto;
  padding: 2px;
}

footer {
  position: relative;
  color: @back - #333;
  text-align: center;
}

.Small {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;

}
